
.header{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logotipo{
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--destaque2);
}
.logotipo h1{
    font-size: 28px;
    transform: translateY(5px);
    font-style: italic;
    font-weight: 600;
}

.navigation{
    color: var(--texto3);
    background-color: var(--background3);
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
}