@import "tailwindcss";

:root {
  --background1: #1E1E1E;
  --background2: #2d2d2d;
  --background3: #454545;
  --background4: #2d2d2d;
  --foreground: #171717;
  --destaque1: #61bc84;
  --destaque2: #8FBC8F;
  --destaque3: #2E8B57;
  --destaque5: #345e37;
  --texto1: #FFFFFF;
  --texto3: #e0e0e0;
  --texto3: #c6ffe6;
}

@theme inline {
  --color-background: var(--background1);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1E;
    --foreground: #ededed;
  }
}*/
*{
  margin: 0;
  padding: 0;
}
body {
  background: var(--background1);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
